@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>api endpoints: </h4>
    <p>/user/login</p>
    <p>/user/create</p>
    <p>/user/money</p>
    <p>/user/email</p>
    <p>/user/show</p>
    <p>/user/info</p>
    <p>/shop/list</p>
    <p>/shop/list/buyable</p>
    <p>/shop/list/sellable</p>
    <p>/shop/item</p>
    <p>/shop/create</p>
    <p>/shop/buy-withdraw</p>
    <p>/shop/sell-withdraw</p>
    <h4>mvc endpoints: </h4>
    <a href="/hello">/hello</a>
    <a href="/buyable">/buyable</a>
    <a href="/all">/all</a>
    <a href="/sellable">/sellable</a>
    <a href="/login">/login</a>
    <a href="/create">/create</a>
    <a href="/add">/add</a>
</div>
