<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product Page</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="tit" href=" /">Home</a>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <a class="tit" href="/info">User Info</a>
    <a class="tit" href="/money">Manage Money</a>
    <a class="tit" href="/users">Users List</a>
    <a class="tit" href="/bid">Bid</a>

    <h3>Add Product</h3>
    <form method="post" action="/add">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required><br />
        <label for="description">Description</label>
        <input type="text" id="description" name="description" required><br />
        <label for="price">Price</label>
        <input type="number" id="price" name="price" min="1" required><br />
        <label for="imageUrl">Picture Url</label>
        <input type="url" id="imageUrl" name="imageUrl" required><br />
        <div>
            <input type="submit" value="Add">
            <a href="/">Cancel</a>
        </div>
    </form>
</body>
</html>