<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bid Page</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <a class="tit" href="/info">User Info</a>
    <a class="tit" href="/money">Manage Money</a>
    <a class="tit" href="/users">Users List</a>
    <a class="tit" href="/bid">Bid</a>
    <a class="tit" href=" /">Info</a>

    <h3>Bid on Item</h3>
    <form method="post" action="/bid">
        <label for="itemId">Product ID</label>
        <input type="number" id="itemId" name="itemId" min="1" required>
        <label for="bid">Bid</label>
        <input type="number" id="bid" name="bid" min="1" required>
        <input type="submit" value="OK">
        <a href="/">Cancel</a>
    </form>
</body>
</html>