<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create User Page</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <a class="tit" href="/info">User Info</a>
    <a class="tit" href="/money">Manage Money</a>
    <a class="tit" href="/users">Users List</a>
    <a class="tit" href="/bid">Bid</a>
    <a class="tit" href=" /">Info</a>

    <h3>Create User</h3>
    <form method="post" action="/create">
        <label for="name">Name</label>
        <input type="text" id="name" name="userName" required><br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br />
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required><br />
        <label for="dollars">Money</label>
        <input type="number" id="dollars" name="dollars" required><br />
        <label for="role">Role</label>
        <select id="role" name="role" required>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <input type="submit" value="Create">
    </form>
    <a href="/"> <button>Cancel</button></a>
</body>
</html>