@using GreenBay.Models
@model User
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Money</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }

        body {
            background-color: antiquewhite
        }
    </style>
</head>
<body>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <a class="tit" href="/info">User Info</a>
    <a class="tit" href="/money">Manage Money</a>
    <a class="tit" href="/users">Users List</a>
    <a class="tit" href="/bid">Bid</a>
    <a class="tit" href=" /">Info</a>

    <h3>You can add or remove money from your GreenBay account, @ViewBag.name. You have @ViewBag.money Dollars.</h3>
    <form method="post" action="/money">
        <label for="action">Action</label>
        <select id="action" name="action" required>
            <option value="decrease">Take</option>
            <option value="increase">Add</option>
        </select><br />
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="number" min="1" style="width: 4em" required><br />
        <input type="submit" value="OK" />
    </form>
    <a href="/"> <button>Cancel</button></a>
</body>
</html>