<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgotten Credentials Page</title>
    <style>
        .tit {
            border: dotted black;
            padding: 5px;
            background-color: darkgrey;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="tit" href=" /">Home</a>
    <a class="tit" href="/create">Create new User</a>
    <a class="tit" href="/login">Login</a>
    <a class="tit" href="/buyable">Only Buyable Products</a>
    <a class="tit" href="/sellable">Only Not Sold Products</a>
    <a class="tit" href="/all">All Products</a>
    <a class="tit" href="/add">Add Product</a>
    <a class="tit" href="/email">Forgotten Password</a>
    <h3>Enter Your Email Address to send your login and password</h3>
    <form method="post" action="/email">
        <label for="email">Name</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Send Email">
        <a href="/">Cancel</a>
    </form>
</body>
</html>